* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.navLinks {
  margin-top: 10px;
}

.myNav {
  background-color: #fff;
  margin: 0;
}

.nav-margin > li {
  margin-right: 50px;
}

.dropdown .open {
  background-color: pink;
}

.myNav a {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.sub-menu-items li a {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  padding: 25px;
}

.sub-menu-items li a:hover {
  background-color: pink;
}

.search {
  margin-top: 10px;
}

.myCarousel {
  max-height: 665px;
}

.email-row {
  padding: 25px;
  background-color: rgba(252, 202, 178, 0.56);
}

.aside {
  margin-top: 100px;
}

.content {
  text-align: center;
  margin-top: 50px;
}

.aside-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 35px;
}

.aside-box ul {
  list-style: none;
}

.aside-box ul li {
  display: inline-block;
  padding: 0 15px;
}

#aside-h3 {
  margin-top: -25px;
  margin-bottom: 20px;
  font-weight: 200;
}

.wishlist .left
.wishlist .right  {
  height: 100%;
  cursor: pointer;
  transition: background-color, color .2s ease-in-out;
}

.brand-imgs img {
  display: block;
  max-width: 100%;
}

.wishlist .left:hover,
.wishlist .right:hover {
  background-color: #000;
  color: #ccc;
}

.aside select {
  width: 100%;
  padding: 10px;
  height: 35px;
  background-color: transparent;
  border-radius: none;
  border: 2px solid #eee;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 24px 0 19px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

h1:hover {
  color: rgba(252, 202, 178, 0.56);
}

h2::before {
  content: " ";
  display: inline-block;
  max-width: 80px;
  width: 15%;
  border-bottom: 1px solid #ddd;
  line-height: 18px;
  vertical-align: middle;
}

h2 {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 100px;
}

h2::after {
  content: " ";
  display: inline-block;
  max-width: 80px;
  width: 15%;
  border-bottom: 1px solid #ddd;
  line-height: 18px;
  vertical-align: middle;
}

h1 + p {
  font-style: italic;
  font-weight: 200;
}

.page-img {
  max-width: 100%;
  cursor: pointer;
}

.image-copy {
  text-align: left;
  margin: 20px 0 20px 0;
  font-weight: 300;
}

.content-button {
  display: block;
  margin: 0 auto;
  padding: 15px;
  background-color: transparent;
  color: #ccc;
  border: 1px solid #ccc;
  transition: .2s;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.content-button:hover {
  background-color: #aaa;
  color: #fff;
  border: none;
}

.social {
  font-size: 2.5em;
  color: rgba(252, 202, 178, 0.56);
  padding: 5px;
  margin: 25px;
}

.social-left {
  float: left;
}

.social-right {
  float: right;
  margin-top: 40px;
}

i {
  cursor: pointer;
}

.social-hover {
  cursor: pointer;
  transition: .2s;
}

.social-hover:hover {
  color: rgba(252, 202, 178, 0.56);
}

h3 {
  display: block;
  color: #000;
  background-color: #fff;
  margin: 0 auto -9px;
  font-size: 16px;
  padding: 0 5px;
  width: 85px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.footer-pics {
  padding: 15px;
  border-top: 1px solid #eee;
}

.footer-box {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.instagram {
  margin-top: 30px;
}

.instagram h3 {
  width: 200px;
  font-weight: 200;
}

.insta-container {
  margin-top: 35px;
  text-align: left;
}

#insta-name {
  font-style: italic;
  font-size: 16px;
}

#insta-bio {
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
}

.insta-container img {
  float: left;
  border-radius: 50%;
  width: 5%;
  height: auto;
  margin: 0 10px 10px 0;
}

.insta-img {
  width: 10%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-image: url("smallimg2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#email {
  padding: 5px;
}

#email-button {
  padding: 5px;
}

#email::placeholder {
  text-transform: uppercase;
}

#brand {
  margin: 13px;
}
