@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeue.otf");
}

/*******************

  GENERAL STYLES

*******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

/*******************

  CONTENT STYLES

*******************/

header {
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 5px 5px #ddd;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 9999;
}

.top-filler {
  margin-top: 100px;
  content: '';
}

.baddie-name {
  text-align: center;
  margin: 60px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.baddie-img {
  display: block;
  margin: 0 auto;
  max-width: 130px;
  height: auto;
}

.amountCaught {
  display: block;
  margin: 30px auto;
  width: 75%;
  padding: 15px;
  font-size: 20px;
  border-radius: 18px;
}

.hide {
  display: none;
}

.submit-btn {
  display: block;
  margin: 0 auto 60px auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #D20014;
  color: #fff;
  border: none;
  width: 35%;
  cursor: pointer;
}

.separator {
  display: block;
  height: 4px;
  background-color: #00851F;
  content: '';
  width: 50%;
  margin: 60px auto;
}

.price {
  text-align: center;
  margin: 30px;
  font-size: 1.2em;
}

.totalPrice {
  margin: 0;
}

#sum {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 3.5em;
}

/*******************

  FOOTER STYLES

*******************/

footer {
  background-color: #85000D;
  padding: 25px;
  margin-top: 60px;
  color: #fff;
}

footer a:link,
footer a:visited {
  color: #fff;
}

.footer-list {
  list-style: none;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.footer-list li {
  padding: 25px;
  font-size: 1.2em;
}

/*******************

  MEDIA QUERIES

*******************/

/* SMALL PHONES TO SMALL TABLETS: FROM 767px */
@media only screen and (min-width: 767px) {

  .submit-btn {
    padding: 20px;
    font-size: 1.5em;
    width: 20%;
  }

  .separator-desktop {
    display: block;
    height: 4px;
    background-color: #00851F;
    content: '';
    width: 50%;
    margin: 60px auto;
  }

  .amountCaught {
    font-size: 16px;
  }

  .baddie-name {
    font-size: 1em;
  }

  .footer-list li {
    display: inline-block;
    font-size: 1em;
  }
}

/* SMALL PHONES FROM 0 TO 480px */
@media only screen and (max-width: 480px) {
  header > h1 {
    font-size: 3em;
  }
}
