@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeue.otf");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("HelveticaNeue-Light.ttf");
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 6em;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue";
}

p {
  line-height: 150%;
}

.news-post {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.news-post .animated {
  opacity: 1;
}

.page-banner {
  background-image: url("newspaper-bg.jpg");
  background-size: cover;
  height: 65vh;
  background-position: center center;
  background-attachment: fixed;
}

.news-post {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Helvetica Neue Light";
}

.post-copy {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  padding: 0 10px;
}

footer {
  max-width: 100%;
  background-color: #eee;
  height: 100%;
  margin: 0;
  padding: 25px;
  text-align: center;
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: #4DCEFF;
  transition: .2s;
}

footer a:hover {
  color: #27677F;
}
