.container {
  max-width: 960px;
  margin: 0 auto;
}

form {
  border: 1px solid #eee;
}

form input {
  display: block;
  padding: 10px;
  width: 30%;
  font-size: 1em;
  margin: 10px auto;
}

select {
  display: block;
  margin: 10px auto;
}

label {
  display:block;
  text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 10px auto;
}
