/***************

GENERAL STYLES

****************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  height: 1000px;
  background-color: #1f1f1f;
}

.copy {
  line-height: 150%;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.fa {
  font-size: 6em;
  display: block;
  text-align: center;
  color: #095A6B;
}

::selection {
  background: #095A6B;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FF983C;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { opacity:0 }
  to { opacity:1 }
}

@keyframes animatebottom {
  from{ opacity:0 }
  to{ opacity:1 }
}

/***************

NAVIGATION

****************/

.navbar img {
  cursor: pointer;
}

.navbar-nav {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.navbar-nav > li > a:link,
.navbar-nav > li > a:visited {
  color: #fff;
  text-align: center;
}

.navbar-nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin-left: 50%;
    background: #FF983C;
    -webkit-transition: all .20s ease-out;
    -o-transition: all .20s ease-out;
    transition: all .20s ease-out;
}

.navbar-nav li:hover::after {
    width: 100%;
    margin-left: 0;
}

.navbar-fixed-top.scrolled {
  background-color: #1f1f1f !important; /* #052F38 */
  padding: 0;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .navbar-nav {
  margin: initial;
  transition: margin 200ms linear;
}

.navbar-fixed-top.scrolled img {
  width: 200px;
  transition: width 200ms linear;
  box-shadow: none;
}

.navbar-toggle {
  border: none;
  margin-top: 15px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 33px;
  height: 4px;
}

/***************

BANNER

****************/

#video {
  width: 100%;
}
#videoDiv {
  width: 100%;
  height: 100%;
  position: relative;
}
#videoBlock {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#videoMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-shadow: 5px 5px 10px #000;
  text-align: center;
  z-index: 9999;
}

#videoMessage h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
}

#videoMessage h3 {
  font-size: 2.5em;
  font-weight: 300;
}

.banner {
  width: 100%;
  height: 108vh;
  background-color: #1f1f1f;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  transition: all .2s ease-in-out;
  z-index: 0000;
}

.banner-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 10px #000;
}

.banner-text h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
}

.banner-text h3 {
  font-size: 2.5em;
  font-weight: 300;
}

/***************

CONTENT STYLING

****************/

.section {
  position: relative;
}

.section::before {
  position: absolute;
  width: 100%;
  height: 90px;
  background: whitesmoke;
  z-index: 0;
  transform: rotate(-2deg);
  margin-top: -30px;
  overflow: hidden;
  top: 0;
  content: '';
}

.icon-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.5em;
}

.icon-header::before,
.icon-header::after {
  display: inline-block;
  content: "";
  height: 4px;
  background-color: #FF983C;
  width: 30px;
  margin: 10px;
  vertical-align: middle;
}

/***************

COLORED SECTION

****************/

.section {
  padding: 2em 0;
  background-color: whitesmoke;
}

.section-header {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.section-grid {
  margin-top: 90px;
  margin-bottom: 90px;
}

.opposite {
  color: #000;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 90px;
}

.section-header::before,
.section-header::after {
  display: inline-block;
  content: "";
  height: 4px;
  background-color: #FF983C;
  width: 30px;
  margin: 10px;
  vertical-align: middle;
}

.colored {
  background-image: linear-gradient(to right, rgba(54,209,220, 0.5), rgba(91,134,229, 0.5)), url("../img/section-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/***************

PORTFOLIO

****************/

.work-card {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  height: 300px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #1f1f1f;
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: .5s ease;
  border-radius: 8px;
}

.box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 2em;
  text-transform: uppercase;
}

.work-card:hover .overlay {
  height: 100%;
  bottom: 0;
  opacity: 0.7;
}

.modal-content {
  background-color: #000;
  color: #fff;
}

/***************

CONTACT

****************/

.contact-fa {
  font-size: 1em;
  text-align: left;
  margin: 0 10px 0 0;
  display: inline-block;
}

.contact {
  background-color: whitesmoke;
  padding: 4em 0;
}

.contact-button:hover {
  background-color: #FF983C;
}

.contact-header {
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.contact-copy {
  line-height: 150%;
  font-size: 1.5em;
  text-align: justify;
}

/***************

FOOTER

****************/

footer {
  background-color: #1f1f1f;
  width: 100%;
  color: #fff;
  padding: 1em 0;
}

footer .fa {
  color: #fff;
  font-size: 2em;
}

footer .nav li {
  display: inline-block;
}

footer .nav li .fa-github,
footer .nav li .fa-facebook,
footer .nav li .fa-linkedin,
footer .nav li .fa-twitter {
  transition: color 200ms ease-in-out;
}

footer .nav li:hover .fa {
  color: #FF983C;
}

footer .nav li a:hover,
footer .nav li a:active,
footer .nav li a:link {
  background-color: transparent;
}

.footer-copyright {
  padding-top: 15px !important;
}

/***************

MEDIA QUERIES

****************/

@media (max-width: 1280px) {
  canvas {
    display: none;
  }
}

@media (max-width: 767px) {

  .navbar img {
    width: 200px;
  }

  .navbar-nav li:hover::after {
      width: 0;
      margin-left: 0;
  }

  .navbar-nav li {
    padding: 15px;
    font-size: 1.2em;
  }

  .navbar-fixed-top.scrolled .navbar-nav {
    margin: inherit;
  }

  .navbar-inverse .navbar-collapse {
    border: none;
    background-color: #1f1f1f;
  }

  .navbar-header img {
    margin-top: 5px;
  }

  /***************

  BANNER

  ****************/

  .banner-text h1 {
    font-size: 2em;
    letter-spacing: 0;
  }

  .banner-text h3 {
    font-size: 1.5em;
  }
}
