* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  width: 100%;
  background-color: #eee;
  padding: 25px;
}

.logo {
  float: left;
}

.main-nav {
  float: right;
  margin-top: 5px;
}

.main-nav li {
  display: inline-block;
  margin-left: 10px;
}

.clickIt {
  display: block;
  margin: 100px auto;
  padding: 25px;
  font-size: 2em;
  cursor: pointer;
  background-color: teal;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: .4s ease-in-out;
}

.clickIt:hover {
  box-shadow: 5px 5px 5px #bbb;
}
